@page

<html>
    <body>
        <h1>Exception handling tests</h1>
        <ul>
            <li><a href="error1">Simple exception.</a></li>
            <li><a href="error1">Exception with a error message.</a></li>
            <li><a href="error1">Exception with an inner exceptiom.</a></li>
        </ul>
    </body>
</html>